<!doctype html>
<html>
	<head>
		<title> Simple Demo App</title>
		<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/lib/select2.css">
        <link rel="stylesheet" type="text/css" href="css/lib/select2-bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
		<script type="text/javascript" src="js/lib/angular.js"></script>
		<script type="text/javascript" src="js/lib/angular-route.js"></script>
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        <script type="text/javascript" src="js/lib/select2.min.js"></script>
	</head>
	<body ng-app="demoWeb" ng-controller="parentCtrl">
        <header>
            <div class="container">
                <div class="appHeading">BUY APP</div>
                <div class="menu">
                    <div class="menu-item active" ng-click="menuClick($event);" ng-mouseenter="showDropDown('subcategory');" ng-mouseleave="hideDropdown();">
                        Sub-Category <div class="down-arrow">&#x25BC;</div>
                        <div class="menu-dropdown" id="subcategory">
                            <div ng-click="changeRoute('/')"> Sub-Category List</div>
                            <div ng-click="changeRoute('/addSubCategory')"> Add Sub-Category</div>
                        </div>
                    </div>
                    <div class="menu-item" ng-click="menuClick($event);" ng-mouseenter="showDropDown('category');" ng-mouseleave="hideDropdown();">
                        Category <div class="down-arrow">&#x25BC;</div>
                        <div class="menu-dropdown" id="category">
                            <div ng-click="changeRoute('/categoryList')"> Category List</div>
                            <div ng-click="changeRoute('/addCategory')"> Add Category</div>
                        </div>
                    </div>
                    <div class="menu-item" ng-click="menuClick($event);" ng-mouseenter="showDropDown('shops');" ng-mouseleave="hideDropdown();">
                        Shops <div class="down-arrow">&#x25BC;</div>
                        <div class="menu-dropdown" id="shops">
                            <div ng-click="changeRoute('/shopsList')"> Shops List</div>
                            <div ng-click="changeRoute('/addShop')"> Add Shop</div>
                        </div>
                    </div>
                    <div class="menu-item" ng-click="menuClick($event);">Log Out</div>
                </div>
            </div>
        </header>
		<div ng-view></div>

        <div id="spinner" class="global-spinner">
            <div class="loadingBackground"></div>
            <div class="loading">
                <img class="spinnerImg" src="images/loading-spin.svg" alt="Loader">

                <!--<div ng-if="spinnerLabel">Loading...</div>-->
            </div>
        </div>
       <script type="text/javascript" src="js/utils/appUtilities.js"></script>
       <script type="text/javascript" src="js/constants/constants.js"></script>
	   <script type="text/javascript" src="js/app.js"></script>


       <script type="text/javascript" src="js/helpers/helper.js"></script>

        <script type="text/javascript" src="js/services/httpService.js"></script>
        <script type="text/javascript" src="js/services/sharedService.js"></script>
        <script type="text/javascript" src="js/services/httpResponseInterceptor.js"></script>
        <script type="text/javascript" src="js/services/subCategoryService.js"></script>
        <script type="text/javascript" src="js/services/categoryService.js"></script>
        <script type="text/javascript" src="js/services/shopService.js"></script>

    <!-- Include  Controllers Here -->
        <script type="text/javascript" src="js/controllers/parentCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/subCategoryListCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/addSubCategoryCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/editSubCategoryCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/categoryListCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/addCategoryCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/editCategoryCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/shopListCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/addShopCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/editShopCtrl.js"></script>
    <!-- Controller Inclusion Ends Here-->



	</body>
</html>
