<form id="addShopForm" enctype="multipart/form-data" >
    <div class="container addSubCategory">
        <div class="row">
            <div class="col-sm-12">
                <input type="text" name="shop_name" placeholder="Enter Shop Name Here">
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <textarea class="address" name="shop_address" placeholder="Enter Shop Address Here"></textarea>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <select class="js-example-basic-multiple" multiple="multiple" style="width: 100%" >
                    <option ng-repeat="subCategory in subCategoryList" value="{{subCategory.subcat_id}}">{{subCategory.subcat_name}}</option>
                </select>
                <input type="hidden" name="shop_subcategories[]" id="shop_subcategories">
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <input type="text" name="shop_contact_no" placeholder="Enter Contact Number" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img id="shopImage" class="imageDiv" src="">
                <input type="file" id="imageBrowseHiddenButton" name="shop_image" onchange="helper.showSelectedImage(event,'shopImage')">
            </div>

            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="browseButton" ng-click="browseButtonClick();">
                            Browse Image
                        </div>
                    </div>
                    <div class="row">
                        <div class="browseButton" id="addShop" ng-click="addShop()">
                            Add Shop
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>