
<form id="addSubCategoryForm" enctype="multipart/form-data">
    <div class="container addSubCategory">
    <div class="row">
        <div class="col-sm-12">
            <input type="text" name="subcat_name" placeholder="Enter Sub-category Name Here">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img class="imageDiv" id="subcategoryImage" src="">
            <input type="file" id="imageBrowseHiddenButton" name="image" onchange="helper.showSelectedImage(event,'subcategoryImage')">
        </div>
        <div class="col-sm-6">
              <div class="container">
                <div class="row">
                    <div class="browseButton" ng-click="browseButtonClick();">
                        Browse Image
                    </div>
                </div>
                <div class="row">
                  <div class="browseButton" id="addSubCategory" ng-click="addSubCategory()">
                      Add Sub-Category
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
</form>
