
<div class="container">
    <div class="row categoryList">
        <div class="col-sm-3 tile" ng-repeat="category in categories">
            <div class="sub-container" ng-mouseenter="displayHoverStrip(category.cat_id)" ng-mouseleave="hideHoverStrip(category.cat_id)">
                <img src={{category.cat_imageUrl}} class="img-responsive" alt="No Image Found" width="304" height="236">
                <h1>{{category.cat_name}}</h1>
                <div class="hover-strip" id="category{{category.cat_id}}">
                    <div class="Edit" ng-click="editCategory($index)">
                        <div class="edit-icon"></div>
                        <div class="edit-icon-label"> EDIT </div>
                    </div>
                    <div class="Delete" ng-click="deleteCategory(category.cat_id)">
                        <div class="delete-icon-label"> Delete </div>
                        <div class="delete-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>