<form id="updateCategoryForm" enctype="multipart/form-data" >
    <div class="container addSubCategory">
        <div class="row">
            <div class="col-sm-12">
                <input type="text" name="cat_name" placeholder="Enter Category Name Here" value="{{category.cat_name}}">
                <input type="hidden" name="cat_id" value="{{category.cat_id}}" >
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <select class="js-example-basic-multiple" multiple="multiple" style="width: 100%" >
                    <option ng-repeat="subCategory in subCategoryList" value="{{subCategory.subcat_id}}">{{subCategory.subcat_name}}</option>
                </select>
                <input type="hidden" name="cat_subcategories[]" id="cat_subcategories">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img id="categoryImage" class="imageDiv" src="{{category.cat_imageUrl}}">
                <input type="file" id="imageBrowseHiddenButton" name="image" onchange="helper.showSelectedImage(event,'categoryImage')">
            </div>

            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="browseButton" ng-click="browseButtonClick();">
                            Browse Image
                        </div>
                    </div>
                    <div class="row">
                        <div class="browseButton" id="addCategory" ng-click="updateCategory()">
                            update Category
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>