<form id="editSubCategoryForm" enctype="multipart/form-data">
    <div class="container addSubCategory">
        <div class="row">
            <div class="col-sm-12">
                <input type="text" placeholder="Enter Sub-category Name Here" name="subcat_name" value="{{subCategory.subcat_name}}">
                <input type="hidden" name="subcat_id" value="{{subCategory.subcat_id}}" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="imageDiv" id="subcategoryImage" src="{{subCategory.subcat_imageUrl}}">
                <input type="file" id="imageBrowseHiddenButton" name="image" value="{{subCategory.subcat_imageUrl}}"onchange="helper.showSelectedImage(event,'subcategoryImage')">
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="browseButton" ng-click="browseButtonClick();">
                            Browse Image
                        </div>
                    </div>
                    <div class="row">
                        <!--<input type="submit"class="browseButton" id="addSubCategory" value="Update Sub-Category">-->
                        <div class="browseButton" id="addSubCategory" ng-click="updateSubCategory();">
                            Update Sub-Category
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>