
<div class="container">
    <div class="row shopList">
        <div class="col-sm-3 tile" ng-repeat="shop in shops">
            <div class="sub-container" ng-mouseenter="displayHoverStrip(shop.shop_id)" ng-mouseleave="hideHoverStrip(shop.shop_id)">
                <img src={{shop.shop_imageUrl}} class="img-responsive" alt="No Image Found" width="304" height="236">
                <h1>{{shop.shop_name}}</h1>
                <div class="hover-strip" id="shop{{shop.shop_id}}">
                    <div class="Edit" ng-click="editShop($index)">
                        <div class="edit-icon"></div>
                        <div class="edit-icon-label"> EDIT </div>
                    </div>
                    <div class="Delete" ng-click="deleteShop(shop.shop_id)">
                        <div class="delete-icon-label"> Delete </div>
                        <div class="delete-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>