
<div class="container">
	<div class="row subCategoryList">
		<div class="col-sm-3 tile" ng-repeat="subCategory in subCategoryList">
            <div class="sub-container" ng-mouseenter="displayHoverStrip(subCategory.subcat_id)" ng-mouseleave="hideHoverStrip(subCategory.subcat_id)">
                <img src={{subCategory.subcat_imageUrl}} class="img-responsive" alt="No Image Found" width="304" height="236">
                <h1>{{subCategory.subcat_name}}</h1>
                <div class="hover-strip" id="subCategory{{subCategory.subcat_id}}">
                    <div class="Edit" ng-click="editSubCategory($index)">
                        <div class="edit-icon"></div>
                        <div class="edit-icon-label"> EDIT </div>
                    </div>
                    <div class="Delete" ng-click="deleteSubCategory(subCategory.subcat_id)">
                        <div class="delete-icon-label"> Delete </div>
                        <div class="delete-icon"></div>

                    </div>
                </div>
            </div>
		</div>
	</div>
</div>