
html {
    height: 100%;
}

body {
    font-size: 18px;
    height: 100%;
}

.master-wrapper {
    width: 100%;
}



/*.side-menu .waves-effect {*/
    /*display: block;*/
/*}*/

/*body {*/
/*display: flex;*/
/*min-height: 100vh;*/
/*flex-direction: column;*/
/*}*/

/*main {*/
/*flex: 1 0 auto;*/
/*}*/

/*.search-div {*/
    /*width:300px;*/
    /*height: 100%;*/
    /*float: right;*/
    /*text-align: center*/
/*}*/

/*.search-wrapper {*/
    /*width: auto;*/
    /*height: 100%;*/
    /*float: right;*/
/*}*/

/*#searchIcon.medium {*/
    /*font-size: 3rem;*/
    /*vertical-align: middle;*/
/*}*/

/*.video-title {*/
    /*font: 18px sans-serif;*/
    /*word-break: break-all;*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
/*}*/

/*.video-content {*/
    /*font: 100% sans-serif;*/

/*}*/

/*.search-close-img {*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
/*}*/

/*.header-wrapper {*/
    /*height: 55px;*/
/*}*/

/*h1, h2, h3, h4, h5, h6, p {*/
    /*line-height: 1.45;*/
/*}*/

/*h1 {*/
    /*font-size: 4em;*/
/*}*/

/*h2 {*/
    /*font-size: 3em;*/
/*}*/

/*.ind-full-detail {*/
    /*font-size: 50px;*/
/*}*/

[ng-click],
[data-ng-click],
[x-ng-click],
[onclick], input[type="submit"] {
    cursor: pointer;
}
.hero.grid {
    height: 185px;
}

.hero-img {
    width: 100%;
    height: 100%;
}
.category-img{
    margin: 3px auto;
}
.row .grid {
    padding: 0 0.15em;
}

.tile-name {
    position: absolute;
    color: white;
    /* z-index: 14; */
    bottom: 6px;
    right: 10px;
}


.data-wrapper{
    /*margin-top:-14px;*/
}
.width{
    display: inline-block;
}


.container,.row{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container .row{
    margin: 0;
    padding: 0;
}
.category-wrapper{
    text-align: center;
}
.row .category.grid{
    padding: 8% 0 8%;
    border-bottom:1px solid darkgray;
}

.add-border{
    border-right:1px solid darkgray;
}
.sub-category-img{
    width:100%;
    height: 100%;

}
.sub-category-wrapper{
    margin: 0;
    padding: 0.7px !important;
    /* float: left; */
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
#subCategory .col-xs-6{
    margin:0;
    padding:0 0 1px 1px ;
}
#subCategory{
    float: left;
}
.mar-pad{
    margin: 0;
    padding: 0;
}
.list-image{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.list-image-div{
margin: 2% 6% 2% 2%;
}

.title-div{
    font-size: 163%;
    font-weight: bold;
    word-break: break-all;
}
.list-wrapper-div{
    padding:10px;
}

.search-div{
    padding: 2px 4%;
}
.search-div .search-img{
    width: 100%;
    height: 100%;
}

.row .header{
    padding: 2px 0;
    background: cadetblue;
}
.search-txt{
    width: 100%;
    margin-top: 2.4%;
    background: #F4F4F4;
    border-radius: 4px;
}

.header-wrapper{
    font-size: 163%;
    font-weight: bold;
    margin-top: 1.4%;
}
.menu-icon{
    width: 50%;
    margin-top: 3.4%;
}

.add-padding{
    padding:0 1px 1px 0
}

.master-wrapper .data-wrapper{
    margin-top:5px;
}