<div class="row" >
    <div class="col-xs-12 hero grid ">
        <img class="hero-img" src="app/images/Lighthouse.jpg">

        <div class="tile-name">restaurant</div>
    </div>
        <div ng-class="{'add-border':($index%2)==0}" ng-repeat="category in categoryDetails.data" class="col-xs-6 " ng-click="$root.navigateTo('/subCategory',category.cat_id)">
        <div class="category-wrapper category grid">
        <div ><img class="img-responsive category-img" src="{{category.cat_imageUrl}}" width="50px" height="50px"></div>
        <div>{{category.cat_name}}</div>
         </div>
    </div>
</div>