<div class="row list-wrapper">
    <div class="col-xs-12 mar-pad list-wrapper-div" ng-repeat="shop in shopDetails.shop">
    <div class="col-xs-1 mar-pad width list-image-div">
        <img class="img-responsive list-image" src="{{shop.shop_imageUrl}}">
    </div>
    <div class="col-xs-8 mar-pad width list-data" >
        <div class="title-div">
        {{shop.shop_name}}
            </div>
        <div>
            {{shop.shop_address}}
            </div>
    </div>
    </div>
</div>