<div id="subCategory">
    <div class="row mar-pad">
        <div class="col-xs-12 mar-pad">
        <div ng-repeat="category in subCategoryDetails.subcategory" class=" sub-category-wrapper mar-pad" ng-click="$root.navigateTo('/list',category.subcat_id)">
            <div class="">
                <div><img ng-class="{'add-padding':($index%2 == 0)}" class="img-responsive sub-category-img" src="{{category.subcat_imageUrl}}"></div>
            </div>
        </div>
            </div>
    </div>
</div>


<!--<div class="row">-->
<!--<div ng-repeat="x in [1,2,3,4,5,6,7,8,9,10] " class="col s12 waves-effect waves-block waves-light  sub-categry-details  ">-->
<!--<img class="activator" src="app/images/{{x}}.jpg">-->
<!--<div  class="tile-name">Restaurant Name</div>-->
<!--<div style="height:43px;background: #fff; padding: 1px">-->
<!--Address: Pratap nagar, tahsil. Pune, District. pune, Pin-code:232323-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
