
/* Styles for body */
body{
    background: #f2f0eb;
}

/* Styles for Header*/
header{
    width: 100%;
    height:60px;
    background: #009c7b;
    font:italic bold 33px "Abril FatFace",Georgia,"Times New Roman",Times,serif;
    color: #fff;
}

header .container{
    display:inline-block;
    margin-left: 6%;
}

header .appHeading{
    display:inline-block;
    padding:10px 0 0 0 ;
}

header .menu{
    display:inline-block;
    position: absolute;
    right:15%;
    top:4%;
    font: normal normal 20px "Abril FatFace",Georgia,"Times New Roman",Times,serif;
}

header .menu .menu-item{
    display: inline-block;
    padding: 10px 25px;
    margin-top: -7px;
    cursor: pointer;
}

header .menu .menu-item .down-arrow{
    display: inline-block;
    font-size: 15px;
}

header .menu .menu-dropdown{
    position: absolute;
    top:33px;
    left:0px;
    width: 190px;
    background: #009c7b;
    color: #fff;
    z-index: 1;
    font-size:16px;
}

.address{
    width: 100%;
    height: 100px;
}

#subcategory{
    display:none;
}

#category{
 display:none;
 left:195px;
 width:161px;
}

#shops{
 display:none;
 left:348px;
 width:135px;
}

header .menu .menu-dropdown div{
    padding: 15px 25px;
}

.active{
    background: white;
    color: #009c7b;
}

/*  subCategoryList style */
.subCategoryList,.categoryList,.shopList{
    padding-bottom: 20px;
}

/* Style for tile */

.tile{
    width:250px;
    height: 215px;
    background: #fff;
    margin:20px 20px 0 0;
    padding: 0;
    position:relative;
}

.tile img{
    width:250px;
    height:150px;
    position:absolute;
    bottom: 0px;
}

.tile h1{
    text-align: center;
    font-size: 20px;
    font-family: TensoMedium,TensoLight,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hover-strip{
    position:absolute;
    cursor: pointer;
    width:100%;
    height:50px;
    background: #009c7b;
    bottom:0;
    display:none;
}

.hover-strip .Edit{
    margin:10px;
    display: inline-block;
}

.edit-icon{
    background-image: url("../images/edit2.png");
    width:20px;
    height:20px;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
}

.edit-icon-label{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
}

.hover-strip .Delete{
    margin:10px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.delete-icon{
    background-image: url("../images/trash1.png");
    width:20px;
    height:20px;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
}

.delete-icon-label{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding-right: 5px;
}

/* Add Sub-Category Style */
.addSubCategory{
    /*color:#fff;*/
    margin-top:50px;
    width:500px;
    padding:20px;
    background: #009c7b;
}

.addSubCategory input[type="text"]{
    width: 100%;
    padding: 10px;
    height: 35px;
}

.imageContainer{
    width: 200px;
    height: 200px;
    margin: 15px 0 0 1px;
    background: #fff;
    display:none;
}

.browseButton{
    display: inline-block;
    margin-top: 1%;
    vertical-align: top;
    background: grey;
    width: 180px;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-left: 35px;
    cursor: pointer;
}

#imageBrowseHiddenButton{
    display: none;
}

.imageDiv{
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 15px 0 0 1px;
    background: #fff;
}

#addSubCategory,#addCategory{
    margin-top: 6%;
}


/**
*spinner
**/

.global-spinner .loading {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 150px;
    left: 46%;
}


.spinnerImg {
    width: 90px;
}

.spinnerImg::selection {
    background: transparent;
}

.loadingBackground{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}