<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!--<link type="text/css" rel="stylesheet" href="app/css/materialize.css" media="screen,projection"/>-->
    <link type="text/css" rel="stylesheet" href="app/css/bootstrap.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="app/js/lib/angular.js"></script>
    <script type="text/javascript" src="app/js/lib/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="app/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/js/lib/angular-route.js"></script>
    <!--<script type="text/javascript" src="app/js/lib/angular-sanitize.js"></script>-->
    <!--<script type="text/javascript" src="app/js/lib/angular-translate.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8" src="cordova.js"></script>-->

    <!--<script type="text/javascript" src="app/js/lib/responsiveslides.min.js"></script>-->

    <script type="text/javascript" src="app/js/lib/flowtype.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
    <!--<script type="text/javascript" src="app/js/lib/retailorLib.js"></script>-->
    <!--<script type="text/javascript" src="app/js/lib/materialize.js"></script>-->


    <!--import services-->
    <script type="text/javascript" src="app/js/services/mediatorService.js"></script>
</head>

<body ng-app="retailorModule" ng-controller="masterController">
<div>
<div class="container" ng-init="search=false">
        <div class="row mar-pad">
        <div class="col-xs-12 header mar-pad">
    <div class="col-xs-2 mar-pad">
        <img class="menu-icon" src="app/images/menu-icon.png">
    </div>
    <div class="col-xs-8 mar-pad " ><input class="search-txt" type="search" ng-show="search"/>
       <div class="header-wrapper" ng-hide="search"><b>HOME</b></div></div>
    <div class="col-xs-2 mar-pad search-div">
        <img class="search-img" src="app/images/search.png" ng-hide="search" ng-click="search=true">
        <img class="search-img" src="app/images/delete.png" ng-show="search" ng-click="search=false"></div>
            </div>
    </div>
</div>
</div>
<main  class="master-wrapper">

  <!--<side-nav navigation-data="navData"></side-nav>-->
    <div class="container data-wrapper" ng-view>
    </div>

</main>


</body>

<!--<div class="blue accent-3 row footer"></div>-->
<!--js files-->

<script type="text/javascript" src="app/js/controllers/masterController.js"></script>
<script type="text/javascript" src="app/js/controllers/subCategoryCtrl.js"></script>
<script type="text/javascript" src="app/js/controllers/category.js"></script>
<script type="text/javascript" src="app/js/controllers/listCtrl.js"></script>
<script type="text/javascript" src="app/js/services/httpService.js"></script>
<!--dir files-->
<!--jquery helper-->
<script type="text/javascript" src="app/js/helper/helper.js"></script>
<script type="text/javascript" src="app/js/jqueryHelper/jqueryHelper.js"></script>
<!--css files-->
<link type="text/css" rel="stylesheet" href="app/css/customCSS/master.css" />
<!--heler import-->
<!--<link type="text/css" rel="stylesheet" href="app/css/customCSS/demo.css" />-->
</html>